@charset "utf-8";
/*! shuffle.css © yamoo9.net, 2016 */

html {
  overflow: hidden;
}

body {
  min-height: 100vh;
}

.pos-vh-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 컨테이너 */
.shuffle-container {
  position: relative;
  top: -40px;
  left: -30px;
  width: 1129px;
  height: 655px;
  /*transform: scale(0.8);*/
  /*transition: transform 0.4s ease-out;*/
}
.shuffle-container:hover {
  /*transform: scale(1);*/
}

.shuffle-container * {
  position: absolute;
}

.shuffle-flower-left {
  transform: scale(0.75);
  left: -82px;
  top: -109px;
}
.shuffle-flower-right {
  transform: scale(0.75) rotate(82deg);
  right: -112px;
  top: -126px;
}
.shuffle-album-disk {
  top: 44%;
  left: 60%;
  transform: scale(0.7) translate(-50%, -50%) rotate(0deg);
  animation: rotateInfinite 8s linear infinite;
}
.shuffle-album-cover {
  top: 43%;
  left: 42%;
  transform: scale(0.7) translate(-50%, -50%);
}

/**
 * --------------------------------
 * 애니메이션 키프레임 설정
 * ----------------------------- */
@keyframes rotateInfinite {
  0% { transform: scale(0.7) translate(-50%, -50%) rotate(0deg); }
  100% { transform: scale(0.7) translate(-50%, -50%) rotate(360deg); }
}